<a href="https://colab.research.google.com/github/AnjaliGummuluri-050/c-50/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']
x Program to get the difference between the two lists.
x Program to find the second smallest number and second largest number in a list.
x Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.
x Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.
x Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
x Program to remove a key from a dictionary
x Program to get the maximum and minimum value in a dictionary.
x Program to perform operations on string using unicodes ,splitting of string,accessing
elements of string using locations
x Program for Counting occurrence of a certain element in a string, getting indexes that
have matching elements.For ex -.In Rabbit count how many times b has occurred .
Example-I have to go to a doctor and get myself checked. Count the number of
occXrrences of µWo¶.
x Program for replacing one substring by another For example - Rabbit - Replace µbb¶ b\
µcc¶
x Program to Acronym generator for any user input (ex-input is Random memory access
then output should be RMA).Example - Random number (RN)
x Python function that accepts a string and calculates the number of uppercase
letters and lowercase letters.
x Program to count the number of strings where the string length is 2 or more and
the first and last character are same from a given list of strings
x Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2

In [8]:
mylist= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
del mylist[0]
del mylist[3]
del mylist[3]
print(mylist)

['Green', 'White', 'Black']

In [17]:
 #Program to get the difference between the two lists. 
l1=['apple','banana','squid']
list2=['squid','mass','gainer']
x=set(l1)
y=set(list2)
z=x.difference(y)
w=y.difference(x)
z.update(w)
a=list(z)
print(a)

['apple', 'gainer', 'banana', 'mass']

In [24]:
#create a list of tuples having first element as the number and second element as the square of the number.
start=int(input("Enter the lower range: "))
end=int(input("Enter the upper range: "))
a=[(x,x**2) for x in range(start,end+1)]
print(a)

Enter the lower range: 1
Enter the upper range: 10
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [35]:
#Given a list of tuples, remove all the tuples with length K
list1=[(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k=int(input())
y=len(list1)
for x in range(0,y+1):
  if y==k:
    list1.remove(x)
    print(list1)

3